{% extends "base.html" %} {% set active_page = "about" %} {% block content %}
<!-- The following section contains information about the Unicorn Games website -->
<section class="shoptitle container">
  <!-- Shop Grid-->
  <div class="shop-content">
    <h1>What is Unicorn Games?</h1>
    <!-- Paragraph about the purpose of Unicorn Games -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nisi at justo feugiat tincidunt. Sed gravida eros nec enim lobortis luctus. Nulla facilisi. Vestibulum vitae nisl ac purus condimentum hendrerit. Suspendisse pretium, mi ut auctor tempus, nisl tellus ultricies erat, at eleifend felis felis vel lectus. Pellentesque convallis diam non sem ultricies sagittis. Donec facilisis non urna ut venenatis. Morbi elementum vulputate lorem, ac finibus odio blandit ac. Suspendisse suscipit lobortis purus, ac tincidunt purus efficitur sit amet.</p>
    <h2>What was used to create it?</h2>
    <!-- List of technologies used to create Unicorn Games -->
    <p>Python, JavaScript, CSS, HTML, Flask, MongoDB and Google Cloud.</p>
    <h2>Where can I find the source code?</h2>
    <!-- Link to the source code on GitHub -->
  </div>
  <div>
    <a href="https://github.com/BUCOMPAdvancedDevelopment/advanced-development-assignment-ThomasMarcCarter">
      <img id='btn-github' src="/static/github.png">
    </a>
  </div>
</section> {% endblock %}